body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#drop_zone {
    width:100%;
    border:2px dashed gray;
    background-clip: padding-box;
    transition: all .3s ease-out;
    text-align:center;
    border-radius: 5px;
    color:gray;
}

#drop_zone.dragover {
    background: rgba(255, 79, 0, 0.8);
    border-color:black;
    box-shadow: inset 0 0 5px gray;
    transition: all .3s ease-out;
    background-clip: padding-box;
    color:black;
}
