* {
  box-sizing: border-box;
}
*::selection {
  background: #b0e0e6;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
/*     Typography                */
/*_______________________________*/
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 1em;
  font-weight: bold;
}
a {
  color: #00B7FF;
}
#masthead {
  background: url('../images/sf.jpg') no-repeat center center;
  background-size: cover;
  font-size: 300%;
  padding: 100px 100px;
  width: 100%;
}
#drop_zone {
  width: 100%;
  border: 2px dashed gray;
  background-clip: padding-box;
  transition: all 0.3s ease-out;
  text-align: center;
  border-radius: 5px;
  color: gray;
}
#drop_zone:hover {
  border-color: black;
  box-shadow: inset 0 0 15px gray;
  background-clip: padding-box;
  color: black;
  transition: all 0.3s ease-out;
}
.bikePhoto {
  border: 4px solid #f0f0f0;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
#drop_zone.dragover {
  background: rgba(255, 79, 0, 0.8);
  border-color: black;
  box-shadow: inset 0 0 5px gray;
  transition: all 0.3s ease-out;
  background-clip: padding-box;
  color: black;
}
#serial {
  text-align: center;
  border: none;
  background: none;
  border-bottom: 4px solid gray;
  font-size: 2em;
}
#serial:hover {
  border-bottom-color: black;
  transition: all 0.2s ease-out;
}
#serial:focus {
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-out;
  outline: none;
  border-bottom-color: black;
}
input[type="submit"] {
  background: orange;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
  padding: 5px 20px 10px 20px;
  transition: all 0.2s ease-out;
}
input[type="submit"]:hover {
  background: #f59e00;
  transition: all 0.2s ease-out;
}
#registerForm {
  display: block;
  text-align: center;
  margin: 30px;
}
